<div class="mx-auto w-full flex flex-col">
  <div class="mx-auto md:w-2/3 ">

    <%= render @service %>

    <% if current_user && @service.comments.any? {|comment| comment.user_id != current_user.id} || @service.comments.length < 1  %>
      <%= render 'comments/form', object: @comment  %>
    <% elsif current_user && @service.comments.any? {|comment| comment.user_id == current_user.id} %>
      <p class="text-center text-[1rem] font-bold text-[#3b82f680] py-3"> Thanks for your review! </p>
    <% else %>
      <p class="text-center text-[1rem] font-bold text-[red] py-3">You need log in to review a service</p>
    <% end %>
  </div>

  <% if @service.comments.any? %>
    <%= render 'services/comments_service' %>
  <% end %>
</div>
